.dispatchDashboardView {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.driversContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}