.dispatchDashboardView {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.driversContainer {
    border-radius: 15px;
    box-shadow: inset 0px -1px 3px black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}